.content{
    height: calc(100vh - 170px);
    padding: 110px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: round;
}

.inner {
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: 25px;
    color: #ffffff;
}

.bt-connect {
    outline: 0;
    font-size: 20px;
    margin-top: 40px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: transparent;
    padding: 6px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-out .3s;
}

.bt-connect:hover {
    background: #ffffff;
    color: #720764;
}