.navbar-nav {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar-toggle1 {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: large;
    color: #ffffff;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

.navbar-toggle1:hover {
    background: #ffffff;
    color: #6a006e;
}

.navbar-toggle1:hover i {
    color: #6a006e;
}

.navbar-toggle1 i {
    color: white;
    transition: all .3s ease-in-out;
}

.pd-10 {
    padding: 0 10rem;
}

.space {
    flex-grow: 1;
    margin-right: 0 !important;
}

.navbar-nav>li>a {
    font-size: large;
    white-space: nowrap;
    position: relative;
    color: rgba(250, 250, 250, .8);
}

.navbar-nav>li:not(:first-child)>a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translate(-50%, 0);
    width: 50px;
    border-bottom: 2px solid #f1f1f1;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.navbar-nav>li>a:hover::after {
    width: 80px;
    opacity: 1;
}

.navbar-nav>li:not(:first-child)  {
    margin-left: 4rem;
}

.nav-active {
    font-weight: bolder;
    color: #ffffff !important;
    text-shadow: rgba(250, 250, 250, .9) 0 0 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(250, 250, 250, .9);
}

a {
    color: #ffffff;
}

.logo img {
    width: 60%;
    /* margin-left: 60%; */
}

.navbar-more {
    list-style: none;
    text-align: center;
    padding: 0;
    max-width: 500px;
    margin: 6rem auto;
}

.navbar-more>li {
    line-height: 40px;
    transition: transform .2s;
}

li a {
    position: relative;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color: white;
    font-size: x-large;
    font-weight: 600;
}

.navbar-more>li:hover {
    transform: scale(1.2);
}

.navbar-more>li a:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -5px;
    width: 60px;
    border-bottom: 2px solid #7b0080;
}

.modal {
    background: #898989 !important;
    padding-right: 0 !important;
}

.modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100% !important;
}

.modal-content {
    background: transparent;
    border-radius: 0 !important;
    height: 100% !important;
    border: 0;
    /* align-items: center; */
    color: #ffffff;
}

.modal-header1 {
    height: 70px;
    display: flex;
    align-items: center;
}

.more-close {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.more-close i {
    color: #ffffff;
    font-size: x-large;
}

.linkedin {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .pd-10 {
        padding: 0 5rem;
    }
    .logo img {
        width: 60%;
    }
}

.bg-img {
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .06);
    background-image:
    linear-gradient(
      to right,
      #b52f48,
      #6a006e
    );
}

.mr-left {
    margin-left: 5rem;
}

.mr-right0 {
    margin-right: 5rem;
}

ul {
    list-style-type: none;
}

.mr-top {
    margin-top: 6%; 
}
