<div id="news-list">

  <div class="col-xs-6">
    <h3>News</h3>
  </div>
  <div class="col-xs-6">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle navbar-toggle1" data-toggle="collapse" data-target="#myNavbar">
        <i class="fas fa-bars fa-2x"></i>
      </button>
    </div>
  </div>

  <div class="collapse navbar-collapse navbar-nav navbar-right" id="myNavbar">
    <ul>
      <li>
        <a routerLink="/news/crimson-works-top-10-saleforce">
          Re-imagine digitalization for long-term business success
        </a>
      </li>
    </ul>
  </div>
</div>