.slide-image {
    width: 80%;
    height: 100vh;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    max-width: 100%;
}

.carousel-control.left {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%)
}

.glyphicon-chevron-down {
    font-size: x-large;
    cursor: pointer;
}

.bg-img {
    background-image: url("../../../assets/images/bg.jpg");
    background-repeat: round;
}

a {
    color: white;
    text-decoration: none;
}

.format-text1 {
    color: white;
    position: absolute;
    top: 45%;
    left: 0px;
    right: 0px;
    font-size: 7rem;
}

.format-text2 {
    color: white;
    position: absolute;
    top: 49.5%;
    left: 0px;
    right: 26%;
    font-size: 370%;
    font-weight: 900;
}

.format-text3 {
    position: absolute;
    top: 49%;
    max-width: 27%;
    text-align: left;
    color: white;
    right: 0px;
    left: 50%;
    opacity: 0.7
}

.format-text4 {
    position: absolute;
    top: 44%;
    max-width: 28%;
    text-align: left;
    color: white;
    right: 0px;
    left: 50%;
    opacity: 0.7;
}

.format-text5 {
    color: white;
    position: absolute;
    top: 55%;
    left: 0px;
    right: 0px;
    font-size: 450%;
    font-weight: 900;
}

.format-text6 {
    color: white;
    position: absolute;
    top: 65%;
    left: 0px;
    right: 0px;
    font-size: 250%;
    letter-spacing: 3px;
    opacity: 0.7
}

.format-text7 {
    position: absolute;
    top: 46%;
    max-width: 27%;
    text-align: left;
    color: white;
    right: 0px;
    left: 50%;
    opacity: 0.7
}

h3 {
    font-size: 2.3rem;
}

.animated-1 {
    position: absolute;
    animation-name: move1;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.animated-2 {
    position: absolute;
    animation-name: move2;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.animated-3 {
    position: absolute;
    animation-name: move3;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* .animated-4 {
    position: absolute;
    animation-name: move4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
} */

@keyframes move1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes move2 {
    from {top: 0%;}
    to {top: 49.5%;}
}

@keyframes move3 {
    from {top: 100%;}
    to {top: 46%;}
}

@keyframes move4 {
    from {right: 0%;}
    to {right: 50%;}
}

@media only screen and (max-width: 2000px) {
    .slide-image {
        width: 80%;
    }

    .format-text3 {
        top: 47%;
        max-width: 27%;
        right: 0px;
        left: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    .slide-image {
        width: 100%;
    }

    .carousel-inner>.item>img {
        height: 100vh;
    }

    .format-text2 {
        top: 49.5%;
        left: 0px;
        right: 35%;
        font-size: 340%;
        font-weight: 900;
    }

    .format-text3 {
        top: 47%;
        max-width: 35%;
        right: 0px;
        left: 49%;
    }

    .format-text4 {
        max-width: 33%;
    }

    .format-text7 {
        top: 45%;
        max-width: 34%;
        right: 0px;
        left: 49%;
    }
}

@media only screen and (max-width: 1024px) {
    .carousel-inner>.item>img {
        height: 50vh;
    }

    .slide-image {
        height: 685px;
    }

    .carousel-control{
        margin-top: 20px;
    }

    .format-text3 {
        top: 47%;
        max-width: 40%;
        right: 0px;
        left: 49%;
    }

    .format-text4 {
        top: 42%;
        max-width: 41%;
        left: 49%;
    }

    .format-text7 {
        top: 45%;
        max-width: 38%;
        right: 0px;
        left: 49%;
    }

    p {
        font-size: x-large  !important;
    }

    h5 {
        font-size: 3.25rem !important;
    }
}

/* Ipad */
@media only screen and (max-width: 768px) {
    .format-text1 {
        top: 46%;
        font-size: 6.5rem;
    }

    .slide-image {
        height: 430px;
    }

    .carousel-inner>.item>img {
        height: auto;
    }

    .format-text2 {
        top: 49.5%;
        left: 0px;
        right: 40%;
        font-size: 270%;
    }

    .format-text3 {
        top: 46%;
        max-width: 45%;
        left: 48%;
    }

    h3 {
        font-size: 1.8rem;
    }

    .format-text4 {
        top: 44%;
        max-width: 42%;
        left: 48%;
    }

    .format-text7 {
        max-width: 40%;
    }
}

/* Pixel2 */
@media only screen and (max-width: 450px) {
    .format-text1 {
        top: 52%;
        font-size: 3.5rem;
    }

    .slide-image {
        padding-top: 15%;
        padding-right: 5%;
        width: 100%;
        height: 350px;
    }

    .carousel-inner>.item>img {
        height: 350px;
    }

    .format-text2 {
        top: 58%;
        left: 0px;
        right: 40%;
        font-size: 135%;
    }

    .format-text3 {
        top: 56%;
        max-width: 42%;
        right: 0px;
        left: 47%
    }

    h3 {
        font-size: 100%;
    }

    .carousel-control.left, .carousel-control.right {
        margin-top: 15%;
    }

    .format-text4 {
        top: 52%;
        max-width: 44%;
        left: 46%;
    }

    .format-text5 {
        top: 64%;
        font-size: 190%;
        right: 15px;
    }

    .format-text6 {
        top: 72%;
        right: 15px;
        font-size: 90%;
    }

    .format-text7 {
        top: 54%;
        max-width: 41%;
        right: 0px;
        left: 47%;
    }
}

@media only screen and (max-width: 375px) {
    .format-text3 {
        max-width: 45%;
    }

    .format-text4 {
        top: 54%;
        max-width: 40%;
        left: 46%;
        font-size: 0.9rem;
    }

    h3 {
        font-size: 92%;
    }
}

/* Iphone 5/SE S5 */
@media only screen and (max-width: 360px) {
    .format-text1 {
        top: 53%;
        font-size: 3rem;
    }

    .slide-image {
        padding-top: 15%;
        padding-right: 5%;
        width: 100%;
        height: 310px;
    }

    .carousel-inner>.item>img {
        height: 310px;
    }

    .format-text2 {
        top: 58%;
        left: 0px;
        right: 40%;
        font-size: 115%;
    }

    .format-text3 {
        top: 56%;
        max-width: 42%;
        right: 0px;
        left: 47%
    }

    h3 {
        font-size:  83%
    }

    .carousel-control.left, .carousel-control.right {
        margin-top: 15%;
    }

    .format-text4 {
        top: 53%;
        max-width: 42%;
        left: 47%;
    }
}

@media only screen and (max-width: 320px)
{
    .format-text2 {
        font-size: 100%;
    }

    .format-text3 {
        top: 56%;
        max-width: 45%;
        right: 0px;
        left: 45%;
    }

    .format-text4 {
        top: 53%;
        max-width: 45%;
        left: 45%;
    }

    h3 {
        font-size: 80%;
    }
}