<div class="content">
    <div class="container">
        <h3>Let's journey together to re-imagine the possibilities</h3>
        <form ngNoForm class="contact-form form" action="{{vm.action}}" method="POST">
            <input type=hidden name="oid" value="{{vm.oid}}">
            <input type=hidden name="retURL" value="{{vm.retURL}}">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="00N6F00000ESsv0">Reason for contact</label>
                    <select class="form-control hidden" id="00N6F00000ESsv0" name="00N6F00000ESsv0" required=""
                        placeholder="Reason for contact" onchange="changeReason()" aria-required="true">
                        <!-- <option value="">Reason for contact</option> -->
                        <!-- <option value="General Inquiry">General Inquiry</option> -->
                        <!-- <option value="Job Opportunities">Job Opportunities</option> -->
                        <option value="Sales" selected="">Sales</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="first_name">First name</label>
                    <input class="form-control valid" id="first_name" maxlength="40" name="first_name" type="text"
                        required="" placeholder="First name" aria-required="true" aria-invalid="false">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="last_name">Last name</label>
                    <input class="form-control valid" id="last_name" maxlength="80" name="last_name" type="text"
                        required="" placeholder="Last name" aria-required="true" aria-invalid="false">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="email">Email</label>
                    <input class="form-control" id="email" maxlength="80" name="email" type="email" required=""
                        placeholder="Email" aria-required="true">
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="phone">Phone</label>
                    <input class="form-control valid" id="phone" maxlength="80" name="phone" type="tel" pattern="\d{8}"
                        required="" placeholder="Phone" aria-required="true" aria-invalid="false">
                </div>
                <div id="companyField" class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="company">Company</label>
                    <input class="form-control" id="company" maxlength="40" name="company" type="text" required=""
                        placeholder="Company" aria-required="true">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <label class="sr-only" for="00N6F00000ESsv5">Your message</label>
                    <textarea class="form-control" id="00N6F00000ESsv5" name="00N6F00000ESsv5" placeholder="Enter your comment"
                        rows="6" required="" aria-required="true"></textarea>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                    <div class="contact-captcha text-xs-center">
                        <re-captcha class="g-recaptcha" siteKey="{{siteKey}}" (resolved)="resolved($event)"></re-captcha>
                        <div *ngIf="captchaError" class="error" style="color: red">Recaptcha not verified.</div>
                    </div>
                    <!-- <input type="hidden" name="captcha_settings" value='{"keyname":"BizFormCaptchaKeys","fallback":"true","orgId":"00D0k000000DSAD","ts":""}'> -->
                    <!-- <input type="hidden" name="debug" value="1"> -->
                    <!-- <input type="hidden" name="debugEmail" value="anannguyen202@gmail.com"> -->
                    <!-- <input type="hidden" id="recordType" name="recordType" value="01228000000TDif"> -->
                    <!-- <input type="hidden" id="00N2800000J8ksN" name="00N2800000J8ksN" value="1" /> -->
                    <button [disabled]="!canSubmit" type="submit" class="bt-connect">Connect with us</button>
                </div>
            </div>
            <!--//row-->
        </form>
    </div>
</div>