#contact {
    color: #ffffff;
    background-size: 96%;
    
}

.content{
    padding: 80px 10px 38px 10px;
}

.content p{
    text-align: justify;
    color: #404040;
}

h3 {
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 3.5rem;
    font-weight:  bold;
    background: -webkit-linear-gradient(#b52f48, #6a006e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-control {
    font-size: 1.3rem;
}

input {
    margin-bottom: 4%;
    height: calc(3.5rem + 2px);
}

.bt-connect {
    outline: 0;
    font-size: 1.5rem;
    margin-top: 2.2%;
    font-weight: 700;
    background: transparent;
    padding: 6px 30px;
    cursor: pointer;
    color: #b22b46;
}

.g-recaptcha {
    margin-top: 2%;
}
