<section class="section-1">
    <div class="content">
        <h3 class="text-center">CONTACT INFORMATION</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="box-header1">
                    <h5 class="text-center">SINGAPORE OFFICE</h5>
                    <h4 class="text-center">57, Longyang Drive, Level 5, Singapore 508968</h4>
                </div>
                <div class="box">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=57%2C%20Longyang%20Drive%20Singapore&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-header1">
                    <h5 class="text-center">VIETNAM OFFICE</h5>
                    <h4 class="text-center">Chung cư H1, Hoàng Diệu, Quận 4, Hồ Chí Minh, Việt Nam</h4>
                </div>
                <div class="box">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Chung%20c%C6%B0%20H1%2C%20Ho%C3%A0ng%20Di%E1%BB%87u%20Qu%E1%BA%ADn%204&t=&z=17&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="box-header2">
                    <h5 class="text-center">CONTACT FORM</h5>
                    <h4 class="text-center">Please fill in the following form to contact us</h4>
                </div>
                <div class="box mr-top5">
                    <div class="row">
                        <div class="col-md-4 padding">
                            <label>Your Name</label>
                        </div>
                        <div class="col-md-1 font padding">*</div>
                        <div class="col-md-7 padding">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 padding">
                            <label>Email</label>
                        </div>
                        <div class="col-md-1 font padding">*</div>
                        <div class="col-md-7 padding">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 padding">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-1 font padding">*</div>
                        <div class="col-md-7 padding">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 padding">
                            <label>Subject</label>
                        </div>
                        <div class="col-md-1 font padding">*</div>
                        <div class="col-md-7 padding">
                            <select class="form-control">
                                <option>-- Please Select --</option>
                                <option>Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 padding">
                            <label>Your comments</label>
                        </div>
                        <div class="col-md-1 font padding">*</div>
                        <div class="col-md-7 padding">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="button">Submit</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</section>