<div style="width: 100%" class="bg-img">
    <div class="row mr-right0">
        <div class="col-md-6 row format-row">
            <div class="col-md-12">
                <div class="scale">
                    <a> CRIMSON WORKS </a>
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="scale">
                    <a href="/index">HOME</a>
                </div>
                <div class="scale">
                    <a routerLink="/our-story">OUR STORY</a>
                </div>
                <div class="scale">
                    <a routerLink="/our-expertise">OUR EXPERTISE</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="scale">
                    <a routerLink="/our-edge">OUR EDGE</a>
                </div>
                <div class="scale">
                    <a routerLink="/our-approach">OUR APPROACH</a>
                </div>
                <div class="scale">
                    <a>OUR COMUNITY</a>
                </div>
            </div>
            <div class="col-md-4 pad0">
                <div class="scale">
                    <a>THE CRIMSON BLOG</a>
                </div>
                <div class="scale">
                    <a>PRESS</a>
                </div>
                <div class="scale">
                    <a>CONNECT WITH US</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 format-row1">
            <i class="fab fa-linkedin"></i>
            <br/>
            <p>
                &#9400; CRIMSON WORKS 2018
            </p>
        </div>
    </div>
</div>