.bg-img {
    background-image: url("../../../../assets/images/bg.jpg");
    background-repeat: round;
}

@media only screen and (max-width: 768px) {

    .copyright {
        font-size: 14px;
    }

}

.mr-right0 {
    margin-right: 0px !important;
    display: flex;
}

p {
    margin: auto;
    color: white;
    text-align: right;
    margin-top: 2%;
}

.scale {
    margin: auto;
    color: white !important;
    transition: transform .2s;
}

.scale:hover {
    cursor: pointer;
    transform: scale(1.25);
}

hr {
    border-top: 1px solid white;
    width: 33%;
    margin-left: 0px;
}

.format-row {
    margin-left: auto;
    padding: 1.5% 4% 1.5% 4%;
}

.format-row1 {
    margin: auto;
    padding: 3% 9% 0 0;
}

i {
    color: white;
    float: right;
    font-size: x-large;
}

a {
    text-decoration: none;
    color: white;
}

.font-size {
    font-size: 2.5rem;
}

.pad0 {
    padding-right: 0px;
    /* padding-left: 0px; */
}

