<section id="our-approach">
    <div class="header">
        <div class="container">
            <h3 class="approach-title">Driving lai xe xe<span class="text-wrap">an truong an truong an.</span></h3>
            <div class="approach-description">
                <p>
                    Be sure to add aria-expanded to the control element. This attribute explicitly conveys the current
                    state of the collapsible element tied to the control to screen readers and similar assistive
                    technologies. If the collapsible element is closed by default, the attribute on the control element
                    should have a value of aria-expanded="false". If you’ve set the collapsible element to be open by
                    default using the show class, set aria-expanded="true" on the control instead. The plugin will
                    automatically toggle this attribute on the control based on whether or not the collapsible element
                    has been opened or closed (via JavaScript.
                </p>
                <p>
                    If parent is provided, then all collapsible elements under the specified parent will be closed when
                    this collapsible item is shown. (similar to traditional accordion behavior - this is dependent on
                    the
                    card class). The attribute has to be set on the target collapsible area.
                </p>
            </div>
        </div>
    </div>

    <div class="approach-ls">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="title">Truong an +</h3>
                                <p class="description">Below is a static modal example (meaning its position and
                                    display have been
                                    overridden).
                                    Included are the modal header, modal body (required for padding), and modal footer
                                    (optional).
                                    We ask that you include modal headers with dismiss actions whenever possible, or
                                    provide
                                    another explicit dismiss action.</p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="title">Truong an +</h3>
                                <p class="description">Below is a static modal example (meaning its position and
                                    display have been
                                    overridden).
                                    Included are the modal header, modal body (required for padding), and modal footer
                                    (optional).
                                    We ask that you include modal headers with dismiss actions whenever possible, or
                                    provide
                                    another explicit dismiss action.</p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="title">Truong an +</h3>
                                <p class="description">Below is a static modal example (meaning its position and
                                    display have been
                                    overridden).
                                    Included are the modal header, modal body (required for padding), and modal footer
                                    (optional).
                                    We ask that you include modal headers with dismiss actions whenever possible, or
                                    provide
                                    another explicit dismiss action.</p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3 class="title">Truong an +</h3>
                                <p class="description">Below is a static modal example (meaning its position and
                                    display have been
                                    overridden).
                                    Included are the modal header, modal body (required for padding), and modal footer
                                    (optional).
                                    We ask that you include modal headers with dismiss actions whenever possible, or
                                    provide
                                    another explicit dismiss action.</p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>