<section id="our-approach">
    <div class="header">
        <div class="container">
            <h3 class="approach-title animated fadeIn">We drive performance
                <span class="text-wrap">through the agile approach.</span></h3>
            <div class="approach-description animated fadeIn">
                <p>
                    Our delivery process is one where we constantly review, rectify and adapt to keep abreast of
                    merging best practices and methodologies.
                </p>
                <p>
                    Great customer and employee experiences are created by meticulous design.
                </p>
            </div>
        </div>
    </div>

    <div class="approach-ls">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-8">
                                <h3 class="title">Discover</h3>
                                <p class="description">
                                        Understanding your business goals and environment are essential for us to deep dive into the functional and non-functional requirements via storyboarding.
                                </p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image discover-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-8">
                                <h3 class="title">Develop</h3>
                                <p class="description">
                                        Constantly engaging with you using a continuous integration and iterative approach results in the prompt updating of  new requirements, which are often implemented through streamlined and automated processes.
                                </p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image develop-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-8">
                                <h3 class="title">Deploy</h3>
                                <p class="description">
                                        Implementing acceptance tests and change management to ensure user readiness, as well as linking business performance metrics to sales and marketing campaigns using technology-driven reports and tools.                                 </p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image deploy-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="item">
                            <div class="col-sm-8">
                                <h3 class="title">Measure</h3>
                                <p class="description">
                                    Monitoring usage patterns, revisiting and reviewing the project to collate feedback for analysis, and introducing new elements where required,
                                </p>
                            </div>
                            <div class="item-icon col-sm-4">
                                <div class="icon-image measure-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>