#our-approach {
    padding-top: 56px;
    font-weight: 300;
}

.header {
    padding: 100px 0;
    background: #333 url(../../../assets/images/bg-approach.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.approach-title {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 400;
    color: #b22b46;
}

.approach-description {
    margin-top: 40px;
    line-height: 33px;
}

.approach-description p {
    margin-top: 35px;
    font-size: large;
}

.approach-ls {
    padding: 70px 0;
}

.approach-ls .title {
    display: block;
    position: relative;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    color: #b12b46;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 32px;
}

.approach-ls .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 100px;
    border-bottom: 2px solid #b12b46;
}

.approach-ls .description {
    color: #707070;
}

@media only screen and (max-width: 768px) {
    .item {
        min-height: 20em;
    }
}

.item {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    min-height: 30em;
}

.item-icon {
    align-self: center;
}

.icon-image {
    width: 90px;
    height: 90px;;
    margin: 0 auto;

}

.discover-image {
    background: url(../../../assets/images/search-icon.png) no-repeat center;
    background-size: 90%;
}

.develop-image {
    background: url(../../../assets/images/box-icon.png) no-repeat center;
    background-size: 90%;
}

.deploy-image {
    background: url(../../../assets/images/setting-icon.png) no-repeat center;
    background-size: 90%;
}

.measure-image {
    background: url(../../../assets/images/measure-icon.png) no-repeat center;
    background-size: 90%;
}

