<div id="header">
    <div id="banner"></div>
</div>

<div class="content">
    <div class="container">
        <!-- <h3>OUR STORY</h3> -->
        <h5>We re-imagine your future. </h5>

        <p>At CrimsonWorks, we are passionate about re-imagining the possibilities.<p>
        <p>
            In a world where technology waits for no man, the only way forward is to think fast, think ahead and think
            differently in digital solutions, customer engagement and project delivery approach.
        </p>

        <p>CrimsonWorks was founded in 2002, joining the Medialink group three years later. We pride ourselves on being
            an industry pioneer that has evolved along with the digital metamorphosis, leveraging the experience and
            the trust gathered over the years, to help even more businesses progress digitally. </p>
    </div>
</div>
