<div id="dashboard" #structure>
    <app-slides-show></app-slides-show>
    <div class="content1" id="expertise-content">
        <div class="container">
            <h3>OUR EXPERTISE</h3>
            <h5>We re-image your future</h5>

            <p> As an industry pioneer, we have the depth and breadth of experience beneficial to both big and small
                companies looking to embark on a digital transformation. </p>

            <p>From mobile to web to cloud, we have the experience and the solutions to meet your specific needs.</p>

            <a class="bt-more" routerLink="/our-expertise">MORE</a>
        </div>
    </div>


    <!-- <div id="bg-border"></div> -->
    <div id="banner2"></div>
    <div class="content2">
        <div class="container">
            <h3>OUR EDGE</h3>
            <h5>We pioneered digital transformation</h5>

            <p> We have journeyed with our clients from their brick-and-mortar days to their present Cloud existence,
                constantly pushing ourselves to re-imagine processes and solutions to enable them to realise high
                impact results.
            </p>

            <p>Many entities offer Salesforce consulting and implementation but only a rare few do what we do: present
                customized software solutions that are just right at any stage of your digital transformation journey,
                on top of comprehensive consultation and implementation of the Salesforce Customer Success Platform
                suite of products.
            </p>


            <a class="bt-more" routerLink="/our-edge">MORE</a>
        </div>
    </div>



</div>
