<div id="dashboard">

  <div class="container">
    <div class="content">
      <h3>OUR EXPERTISE</h3>
      <h5>We re-image your future</h5>

      <p>
        RIVIERA BEACH, Fla. — The nuns at Zina Rodriguez’s Catholic school in the Bronx thwacked her knuckles to
        punish
        sloppy handwriting, so she was shocked when her mail-in ballot in Florida was rejected because her
        signature did
        not match the one on record with elections officials.</p>

      <p>Ms. Rodriguez, a registered Democrat, found the rejection notice in her mailbox at 7 p.m. the night before
        the
        Nov. 6 election, two hours after the deadline for appeal had passed. When she protested at the Palm Beach
        County
        Board of Elections the next morning, she learned that the culprit was a driver’s license signature, hastily
        squiggled on an electronic signature pad two years earlier.</p>

      <p>“There were 13 amendments on that ballot. The only reason I chose to write in was because I wanted time to
        research all the questions. I was fulfilling my responsibility,” said Ms. Rodriguez, 47, a behavioral
        health care
        consultant from Lake Worth, Fla. “All of that got thrown away because I wanted to get out of the D.M.V.
        office as
        fast as I can. It is incredibly upsetting.”</p>

      <p>The issue of faulty signatures, especially on mail-in ballots, has emerged as a central point of contention
        in
        the county-by-county recounts taking place in Florida, with lawsuits spinning off the 2018 election like
        tornadoes off a hurricane.
      </p>

      <a class="bt-more" routerLink="/our-expertise">MORE</a>

    </div>
  </div>

  <!-- <div id="bg-border"></div> -->
  <div id="banner2"></div>
  <div class="container">
      <div class="content">
        <h3>OUR EDGE</h3>
        <h5>We pioneered digital transformation</h5>

        <p>
          RIVIERA BEACH, Fla. — The nuns at Zina Rodriguez’s Catholic school in the Bronx thwacked her knuckles to
          punish
          sloppy handwriting, so she was shocked when her mail-in ballot in Florida was rejected because her
          signature did
          not match the one on record with elections officials.</p>

        <p>Ms. Rodriguez, a registered Democrat, found the rejection notice in her mailbox at 7 p.m. the night before
          the
          Nov. 6 election, two hours after the deadline for appeal had passed. When she protested at the Palm Beach
          County
          Board of Elections the next morning, she learned that the culprit was a driver’s license signature, hastily
          squiggled on an electronic signature pad two years earlier.</p>

        <p>“There were 13 amendments on that ballot. The only reason I chose to write in was because I wanted time to
          research all the questions. I was fulfilling my responsibility,” said Ms. Rodriguez, 47, a behavioral
          health care
          consultant from Lake Worth, Fla. “All of that got thrown away because I wanted to get out of the D.M.V.
          office as
          fast as I can. It is incredibly upsetting.”</p>

        <p>The issue of faulty signatures, especially on mail-in ballots, has emerged as a central point of contention
          in
          the county-by-county recounts taking place in Florida, with lawsuits spinning off the 2018 election like
          tornadoes off a hurricane.
        </p>

        <a class="bt-more" routerLink="/our-edge">MORE</a>

      </div>
    </div>


</div>

