<div id="dashboard" #structure>
    <app-slides-show></app-slides-show>
    <div class="content1">
        <!-- <div class="container"> -->
            <h3>OUR EXPERTISE</h3>
            <h5>We re-image your future</h5>

            <p>
                In this world where technology waits for no man, the only way forward is to think ahead and think different
                when it comes to digital solutions, customer engagement, even project approach.</p>

            <p>As one of pioneers in this industry, we had built up an extensive length and breadth of experiences
                in providing digital consultation to companies, big and small, to embark upon their transformational
                journey.</p>

            <p>Our strive to continuously re-imagine what we can do as a service provider spurs us to go beyond
                to re-imagine your future across digital solutions, customer engagement and project approach.
            </p>

            <a class="bt-more" routerLink="/our-expertise">MORE</a>
        <!-- </div> -->
    </div>


    <!-- <div id="bg-border"></div> -->
    <div id="banner2"></div>
    <div class="content2">
        <!-- <div class="container"> -->
          <h3>OUR EDGE</h3>
          <h5>We pioneered digital transformation</h5>

          <p>
              We had journeyed with our clients from brick-and-mortar to the present Cloud,
              constantly challenging ourselves to re-imagine and help you achieve high impact outcomes. </p>

          <p>Many companies offer Salesforce consulting and implementation with few providing customised software
              development
              and implementation. We provide digital consultation and implementation on all Salesforce Customer
              Success Platforms
              and offer customised software solutions for that total solution at any stage of your digital
              transformation journey.</p>


          <a class="bt-more" routerLink="/our-edge">MORE</a>
        <!-- </div> -->
    </div>



</div>
