
#dashboard{
  background-color:  #d9d9d9;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 100px 100px 100px;

}

.content h3{
  color: 	 #b30000;
  position: relative;
}

.content h3::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 210px;
  height: 2px;
  border-bottom: 1px solid 	 #b30000;
}

.content h5{
  color:  #6600ff;
  padding-top: 35px;
  padding-bottom: 20px;
}

.bt-more {
  padding: 3px 30px;
  border: 1px solid  #737373;
  color:  #6600ff;
  text-decoration: none;
  align-self: center;
}
