<div id="news">
  <h1>CrimsonWorks</h1>
  <h3>Re-imagine Digitalization for Long-term Business Success</h3>
  <br>
  <div class="row">
    <div class="col-md-6">
      <p><span class="drop-cap">T</span>T here exists a humorous graphical metaphor that
        elucidates various communication pitfalls in the
        distribution of tasks required to complete a product
        development process. Called a ‘tree swing cartoon,’ the
        metaphor depicts how different departments within an
        organization interpret a tire swing attached to a tree, and how
        starkly these interpretations deviate from the client’s actual
        intentions and requirements. Over the years, the tree swing
        cartoon analogy has become a popular method to address
        project management issues as well as illustrate the waterfall
        delivery approach of software development. The waterfall
        model was a prevalent practice when three engineers involved
        in building systems for the Ministry of Defense founded
        CrimsonWorks in 2002. To overcome the ever-present gulf
        between customers’ requirements and the systems delivered
        to them, the pioneers at CrimsonWorks embraced an agile
        methodology for software development.
      </p>
      <br>
      <p class="indent">CrimsonWorks devises innovative processes for software
        development and crafts technology solutions that create
        positive business outcomes through a continuous integration
        approach, allowing clients to dynamically alter and customize
        the software while it is being developed. “Our primary goal
        is to bridge the gap between technology and business to
        help organizations overcome the challenges and limitations
        that they face in enhancing their productivity and overall
        business growth,” states Tng Chee Hiong, co-founder of
        CrimsonWorks. While the continuous integration approach
        has predominantly remained the company’s core over the
        last 16 years, the migration of CrimsonWorks’ innovative
        solutions to the cloud is the most significant evolution.</p>
      <br>
      <p class="indent">At the foundation of CrimsonWorks’ cloud strategy is
        Salesforce, a global provider of cloud-based, on-demand
        customer relationship management (CRM) solutions. By
        committing to three releases a year, Salesforce constantly
        strives to make its solutions more applicable and effective.
        Salesforce’s continuous investment to seek improvements
        resonates strongly with CrimsonWorks’ objective of
        persistently delivering solutions that are relevant and add value
        to clients’ businesses. “We are passionate about re-imagining
        possibilities with the aim for clients’ long-term business
        successes through the Salesforce platform and customized
        software solutions,” remarks Tng.
        <br>
        <p class="indent">CrimsonWorks offers an entire stack of Salesforce solutions
          to help organizations streamline as well as digitize manual
          processes that include sales, onboarding, leads management,</p>
        <br>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/tng-leong.jpg">
      <br><br>
      <p>
        and more. The company also integrates these processes with
        proper governance, which is crucial for organizations, and
        in turn, allows clients to re-imagine their businesses with
        modern technology. For instance, CrimsonWorks helped a
        client streamline their process of assigning leads captured
        from the web to a salesperson within three days, leading to
        a tremendous increase in conversions as well as the return on
        investment (ROI). To enhance the post-sales experience for
        customers and overall brand value, CrimsonWorks believes
        that it is essential to leverage Salesforce Service Cloud. The
        company is focused on helping more small and medium-sized
        enterprises (SMEs) to embark on the journey of digitalization
        along with providing marketing consultancy to its clients
        using Salesforce Marketing Cloud.</p>
      <br>
      <p class="indent">Various businesses ranging from government agencies
        to MNCs and SMEs have benefitted from CrimsonWorks’
        marketing and digital transformation strategies. However,
        one use case that the company prefers to highlight albeit a
        smaller project scale is that of a property agent—a one-person
        firm—who handles his own marketing, sales, and post-sales.
        By using Salesforce’s platform, the property agent could
        centralize as well as analyze customer information along
        with proactively targeting and proposing the best suitable
        real estate investment for clients. This allowed the agent to
        fulfill his clients’ requirements precisely, and in turn, boost the
        closing rate.</p>
      <br>
      <p class="indent">“If a one-man company could derive such value from our
        Salesforce-backed solutions, then we can definitely prove
        more beneficial for clients with more resources,” claims Leong
        Yew Fei, co-founder of CrimsonWorks. To deliver more value
        to clients, the company is constantly working on enhancing its
        data analysis capability with the help of machine learning, thus
        enabling businesses to become smarter and more effective.
      </p>
    </div>
  </div>
</div>