#news {
    font-family: Georgia;
}

.line-header {
    position: relative;
    border-top: 2px solid #000;
    margin: 20px 0;
}

.line-header::before {
    position: absolute;
    top: -6px;
    left: 0;
    content: '';
    width: 10px;
    height: 10px;
    background: #D71920;
}

.logo-top-10 {
    position: absolute;
    top: -40px;
    right: 0;
    width: 200px;
    height: 80px;
    background: url(../../../../../assets/images/apac-cio-outlook-logo.png) no-repeat;
    background-size: 200px;
}

.indent {
    text-indent: 25px;
}

.drop-cap {
    color: #000;
    float: left;
    font-family: Impact, fantasy;
    font-weight: bold;
    font-size: 75px;
    line-height: 60px;
    padding: 3px 6px 5px;
    background: #D71920;
    margin-right: 8px;
    position: relative;
}

.drop-cap::before {
    position: absolute;
    top: 0;
    left: -10px;
    width: 3px;
    height: 68px;
    content: '';
    border-left: 5px solid #D71920;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    color: #555;
}

p {
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%;
}
