#our-edge {
    color: #ffffff;
    background: linear-gradient(-45deg, #6a006e,#6a006e, #b52f48),
      url("../../../assets/shapes/edge-shape-2.png") 0 0 no-repeat;
    background-blend-mode: darken;
    background-position: right 13% top;
    background-size: auto, 38%;
}

.container {
    min-height: 100vh;
}

/* Ipad */
@media only screen and (max-width: 768px) {
    #our-edge { 
    }
}

.card {
    background: transparent;
    border: 0;
}

.edge-description {
    font-size: 22px;
    margin-top: 30px;
    line-height: 35px;
}

#edge-ls {
    padding: 40px 0 100px;
    transition: all .5s;
}

#edge-ls .title {
    display: block;
    position: relative;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    color: #ffffff;
    font-size: 22px;
    text-align: left;
    margin-bottom: 25px;
    cursor: pointer;
}

#edge-ls .underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 190px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.22);
}

#edge-ls .detail  {
    margin-bottom: 20px;
    padding-top: 10px;
}

#edge-ls .detail>p  {
    font-size: 17px;
}

.detail-child {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.detail-child li {
    background: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
}

.detail-child li:not(:first-child) {
    margin-left: 10px;
}