<section id="our-edge" class="section-1">
    <div class="container">
        <h1 class="title-1 animated fadeInUp">We pioneered
            <span class="text-wrap">digital transformation</span></h1>

        <div class="row">
            <div class="col-lg-6">
                <p class="edge-description animated fadeInUp">
                    We have journeyed with our clients from their brick-and-mortar days to their present Cloud
                    existence, constantly pushing ourselves to re-imagine processes and solutions to enable them to
                    realise high impact results.
                </p>
            </div>
        </div>

        <div id="edge-ls" class="animated fadeInUp">
            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-1" aria-expanded="false"
                aria-controls="edge-1">
                Total business solution +
            </button>
            <div class="collapse" id="edge-1" data-parent="#edge-ls">
                <div class="detail">
                    <p>
                        We believe that the smart combination of human skills and digital knowledge translates into
                        long-term business success. We provide digital consultation and implementation on the entire
                        Salesforce Customer Success Platform suite of products and also present customised software
                        solutions that are just right at any stage of your digital transformation journey.
                    </p>
                    <p>
                        A good digital solution only works with a good marketing strategy. Some companies, especially
                        SMEs, lack the relevant marketing skills. This is where we step in with our complementary
                        expertise in marketing-related strategising, planning and deployment. We support their
                        endeavours to bridge customer experience and value, and to fully maximise their investment in
                        digitalisation.
                    </p>
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-2" aria-expanded="false"
                aria-controls="edge-2">
                Our values +
            </button>
            <div class="collapse" id="edge-2" data-parent="#edge-ls">
                <div class="detail">
                    <p>
                        The trust you place in us is our most precious, uncompromising asset as we work towards the
                        best possible results for our clients. A deep understanding of what matters to our clients and
                        a willingness to listen align both parties seamlessly, while our adaptability and dynamism keep
                        us ahead of project requirements and changes at all times.
                    </p>
                    <p>Trust</p>
                    <p>Empathy</p>
                    <p>Agile</p>
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-3" aria-expanded="false"
                aria-controls="edge-3">
                Supporting SMEs +
            </button>
            <div class="collapse" id="edge-3" data-parent="#edge-ls">
                <div class="detail">
                    <p>
                        We hope to take on a pivotal role in more SMEs embracing digitalisation. In the process, we
                        will deeply familiarise ourselves with their business needs in order to give them the
                        assistance necessary to accelerate your strategic expansion and revenue growth.
                    </p>
                </div>
            </div>

            <button id="button-edge-4" class="title underline" type="button" data-toggle="collapse" data-target="#edge-4"
                aria-expanded="false" aria-controls="edge-4">
                Quality promise +
            </button>
            <div class="collapse" id="edge-4" #edge data-parent="#edge-ls">
                <div class="detail">
                    <p>
                        Our ISO 9001 Quality Management System Certification and Quality management system (QMS)
                        demonstrate our commitment to having optimal processes and appropriate experts in place.
                    </p>
                    <p>
                        Our team members are scrum-master certified, equipped with the ability to embrace agile
                        methodology for the projects of all scale. Combined with our process-driven method,  we are
                        quick to respond to the unpredictable nature of constructing software.
                    </p>
                    <p>
                        +Optional to include above sub-heads; dependent on layout.
                    </p>
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <app-fit></app-fit>

</section>