<section id="our-edge">
    <div class="container">
        <h1 class="edge-title">We pioneered
            <span class="text-wrap">digital transformation</span></h1>

        <div class="row">
            <div class="col-lg-6">
                <p class="edge-description">
                    We had journeyed with our clients from brick-and-mortar to the present Cloud, constantly
                    challenging ourselves to re-imagine and help you achieve high impact outcomes.
                </p>
            </div>
        </div>

        <div id="edge-ls">
            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-1" aria-expanded="false"
                aria-controls="edge-1">
                Total Business Solution +
            </button>
            <div class="collapse" id="edge-1" data-parent="#edge-ls">
                <div class="detail">
                    <p>Swagger UI is just one open source project in the thousands that exist in the Swagger ecosystem.
                        The
                        source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger
                        UI project. </p>
                    <p>Swagger UI is just one open source project in the thousands that exist in the Swagger ecosystem.
                        The
                        source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger
                        UI project. </p>
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-2" aria-expanded="false"
                aria-controls="edge-2">
                Our Values +
            </button>
            <div class="collapse" id="edge-2" data-parent="#edge-ls">
                <div class="detail">
                    <p>2Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                    <p>2Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-3" aria-expanded="false"
                aria-controls="edge-3">
                Supporting SMEs +
            </button>
            <div class="collapse" id="edge-3" data-parent="#edge-ls">
                <div class="detail">
                    <p>3Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                    <p>3Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                </div>
            </div>

            <button id="button-edge-4" class="title" type="button" data-toggle="collapse" data-target="#edge-4"
                aria-expanded="false" aria-controls="edge-4">
                Quality Promise +
            </button>
            <div class="collapse" id="edge-4" #edge data-parent="#edge-ls">
                <div class="detail">
                    <p>4Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                    <p>4Swagger UI is just one open source project in the thousands that exist in the Swagger
                        ecosystem.
                        The source code is publicly hosted on GitHub, and you can start contributing to the open source
                        Swagger UI project. </p>
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <app-fit></app-fit>

</section>