<section id="our-edge" class="section-1">
    <div class="container">
        <h1 class="title-1">We pioneered
            <span class="text-wrap">digital transformation</span></h1>

        <div class="row">
            <div class="col-lg-6">
                <p class="edge-description">
                    We had journeyed with our clients from brick-and-mortar to the present Cloud, constantly
                    challenging ourselves to re-imagine and help you achieve high impact outcomes.
                </p>
            </div>
        </div>

        <div id="edge-ls">
            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-1" aria-expanded="false"
                aria-controls="edge-1">
                Total Business Solution +
            </button>
            <div class="collapse" id="edge-1" data-parent="#edge-ls">
                <div class="detail">
                   
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-2" aria-expanded="false"
                aria-controls="edge-2">
                Our Values +
            </button>
            <div class="collapse" id="edge-2" data-parent="#edge-ls">
                <div class="detail">
                   
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-3" aria-expanded="false"
                aria-controls="edge-3">
                Supporting SMEs +
            </button>
            <div class="collapse" id="edge-3" data-parent="#edge-ls">
                <div class="detail">
                   
                </div>
            </div>

            <button id="button-edge-4" class="title underline" type="button" data-toggle="collapse" data-target="#edge-4"
                aria-expanded="false" aria-controls="edge-4">
                Quality Promise +
            </button>
            <div class="collapse" id="edge-4" #edge data-parent="#edge-ls">
                <div class="detail">
                   
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <app-fit></app-fit>

</section>