<section id="our-expertise">
    <div class="container">
        <h1 class="expertise-title">Our expertise</h1>

        <div id="expertise-ls">
            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-1" aria-expanded="false"
                aria-controls="edge-1">
                Salesforce consultation and deployment <span class="text-wrap">for all salesforce flatform modules +</span>
            </button>
            <div class="collapse" id="edge-1" data-parent="#expertise-ls">
                <div class="detail">
                    
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-2" aria-expanded="false"
                aria-controls="edge-2">
                Customised digital solutions to complement <span class="text-wrap">salesforce requirements or
                    standalone solutions +</span>
            </button>
            <div class="collapse" id="edge-2" data-parent="#expertise-ls">
                <div class="detail">
                   
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-3" aria-expanded="false"
                aria-controls="edge-3">
                Technical expertise and capabilities +
            </button>
            <div class="collapse" id="edge-3" data-parent="#expertise-ls">
                <div class="detail">
                   
                </div>
            </div>

            <button id="button-edge-4" class="title underline" type="button" data-toggle="collapse" data-target="#edge-4"
                aria-expanded="false" aria-controls="edge-4">
                Product solutions +
            </button>
            <div class="collapse" id="edge-4" #edge data-parent="#expertise-ls">
                <div class="detail">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Sales transformation</li>
                                <li>Quote-to-cash</li>
                                <li>Marketing transformation</li>
                                <li>Service transformation</li>
                                <li>Digital transformation</li>
                                <li>Analytics and augmented intelligence</li>
                                <li>Change management and learning</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Governance</li>
                                <li>Integration</li>
                                <li>Platform and app development</li>
                                <li>Mobile</li>
                                <li>Customer Experience (CX)</li>
                                <li>Employee Experience (EX)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <app-fit></app-fit>

</section>