#our-expertise {
    color: #ffffff;    
    background: linear-gradient(-45deg, #6a006e,#6a006e, #b52f48),
      url("../../../assets/shapes/edge-shape-2.png") 0 0 no-repeat;
    background-blend-mode: darken;
    background-position: left 13% top;
    background-size: auto, 38%;
}

.expertise-description {
    font-size: 22px;
    margin-top: 30px;
    line-height: 35px;
}

.container {
    min-height: 100vh;
}

#expertise-ls {
    /* padding: 20px 0 80px 45px; */
    padding: 20px 0 80px 0;
    margin-top: 30px;
}

#expertise-ls .title {
    display: block;
    position: relative;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    color: #ffffff;
    font-size: 22px;
    text-align: left;
    margin-bottom: 45px;
    line-height: 33px;
}

#expertise-ls .underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 190px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.22);
}

#expertise-ls .detail  {
    font-size: 17px;
    margin-bottom: 20px;
}

.mar0 {
    margin-bottom: 0px;
}