<section id="our-expertise" class="section-1">
    <div class="container">
        <!-- <h1 class="title-1 animated fadeInUp">Our expertise</h1> -->

        <div id="expertise-ls" class="animated fadeInUp">
            <button class="title underline" type="button">
                Salesforce consultation and deployment
                <span class="text-wrap">for all Salesforce platform modules</span>
            </button>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-2" aria-expanded="false"
                aria-controls="edge-2">
                Customised digital solutions to complement
                <span class="text-wrap">Salesforce requirements or standalone solutions in +</span>
            </button>
            <div class="collapse" id="edge-2" data-parent="#expertise-ls">
                <div class="detail">
                    <ul>
                        <li>Cloud adoption</li>
                        <li>Mobile strategy</li>
                        <li>Business process improvement</li>
                        <li>Cloud, mobile, web and e-commerce software</li>
                    </ul>
                </div>
            </div>

            <button class="title underline" type="button" data-toggle="collapse" data-target="#edge-3" aria-expanded="false"
                aria-controls="edge-3">
                Technical expertise and capabilities in +
            </button>
            <div class="collapse" id="edge-3" data-parent="#expertise-ls">
                <div class="detail">
                    <ul>
                        <li>Microsoft technologies for on-premise and Azure deployment</li>
                        <li>open-source technologies on Heroku</li>
                    </ul>
                </div>
            </div>

            <button id="button-edge-4" class="title underline" type="button" data-toggle="collapse" data-target="#edge-4"
                aria-expanded="false" aria-controls="edge-4">
                Product solutions comprising +
            </button>
            <div class="collapse" id="edge-4" #edge data-parent="#expertise-ls">
                <div class="detail">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li>Sales transformation</li>
                                <li>Quote-to-cash</li>
                                <li>Marketing transformation</li>
                                <li>Service transformation</li>
                                <li>Digital transformation</li>
                                <li>Analytics and augmented intelligence</li>
                                <li>Change management and learning</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li>Governance</li>
                                <li>Integration</li>
                                <li>Platform and app development</li>
                                <li>Mobile</li>
                                <li>Customer Experience (CX)</li>
                                <li>Employee Experience (EX)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->

    <app-fit></app-fit>

</section>