#community {
    background: url(../../../assets/images/community.jpg) no-repeat;
    background-size: cover;
}

.box .container h2 {
    color:hsl(308, 88%, 24%);
    font-weight: bold;
    padding-bottom: 15px;
    /* font-size: 35px; */
}

.box {
    padding-top: 250px;
    background: linear-gradient(to bottom, transparent, rgba(255,255,255,.9) 50%);
    padding-bottom: 100px;
    padding-left: 50px;
}

p {
    font-size: 20px;
    color: black;
}

