#community {
    background: url(../../../assets/images/community.jpg) no-repeat;
    background-size: cover;
}

.box .container h2 {
    color:hsl(308, 88%, 24%);
    font-weight: bold;
    padding-bottom: 15px;
    font-size: 35px;
}

.box {
    padding-top: 400px;
    background: linear-gradient(to bottom, transparent,#ffffff 55%);
    padding-bottom: 150px;
    padding-left: 50px;
}

p {
    font-size: 20px;
    color: black;
}

