@font-face {
    font-family: Gotham-Light;
    src:url("./assets/fonts/Gotham-Light.otf");
}

a {
    font-size: medium;
}

p {
    font-size: medium;
}

h3 {
    font-size: 2.75rem;
}

body, html {
    font-family: Gotham-Light !important;
    padding: 0 !important;
}

body {
    overflow-y: auto;
}

.text-wrap {
    display: block;
}

.title-1 {
    font-size: 5em;
    margin-top: 80px;
}

.section-1 {
    padding-top: 70px;
}